body, html {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: #444444;
    line-height: 1.8;
    letter-spacing: .8px;
}


.h1, h1 {
    font-size: 2.5rem;
    font-weight: 900 !important;
}

/* header */
.navbar-toggler {
	border: none;
	box-shadow: none !important;
    color: #3c3c40;;
}


/* hero section */
.hero {
    background: url('assets/hero-bg.png') no-repeat center center/cover;
    height: 90vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    font-size: 18px;
}
.hero-content {z-index: 1;}
#CTA-headline {color: #96C940;}
.cta-btn {
    margin-top: 20px;
    padding: 10px 60px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #004E29;
    color: #ffffff;
    &:hover {
        background-color: #006837;
    }
}


/* services section */
#services .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.service-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    gap: 1rem;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}
.service-item {
    position: relative;
    scroll-snap-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    flex: 0 0 30%;
}
.service-item.active {
    z-index: 1;
    transform: scale(1.3);
    margin: 0;
    & .service-name {
        font-weight: bold;
        color: #006837;
        background-color: #96C940;
        padding-bottom: 1.5rem;
    }
}
.service-info{
    background-color: #006837;
    color: white;
} 
#service-headline {
    color:#96C940;
}
.contact-btn {
    padding: 5px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #96C940;
    color: #ffffff;
    &:hover {
        background-color: #A6DB4C;
        color: white;
    }
}


/* pictures section */
.top-pic {
    background: url('assets/hero-bg.png') no-repeat center center/cover;
    height: 10vh;
}
.main-pic {
    position: relative;
    background: url('assets/toter-adv.jpg') no-repeat center center/cover;
    height: 60vh; 
    max-width: 100%;
    background-position: center top;
}


/* advantages section */
.fa-check-circle {
    color: #006837;
    font-size: larger;
}
.advantages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0; 
    list-style-type: none;
}
.advantages-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.adv-container {
    display: flex;
}
.img-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}
.adv-img-top {
    grid-column: 4 / -1;
    grid-row: 1; 
}
.adv-img-mid {
    grid-column: 2 / span 8;
    grid-row: 1;
    padding-top: 70%;
    z-index: 1;
}



/* companies section */
.companies {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* footer */
.footer 
{
    background-color: #004E29;
    color: white;
    
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer ul {
    line-height: 2.5rem;
}
.footer p {
    line-height: 0.6rem;
}
.footer-contact a {
    color: #96C940;
}
#social-icons {font-size: 28px;}



/* services queries */
@media (max-width: 768px) {
    .service-list {gap: 0.5rem;}
    .service-item > .service-name {font-size: medium;}
    .service-item.active {
        transform: scale(1.5);
        & .service-name {
            font-size: medium;
        }
    }

    .footer ul {
        line-height: 1.5rem;
    }
}
@media (min-width: 768px) {
    .adv-container {
        gap: 3rem;
    }
    
}
@media (min-width: 1200px) {
    .service-item.active {
        transform: scale(1.1);
    }
}