body, html {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #3c3c40;
    min-height: 100vh;
    text-rendering: auto;
    text-size-adjust: none;
}


.hero {
    background: url('assets/hero-bg.png') no-repeat center center/cover;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    font-size: 18px;
}

.hero-content {z-index: 1;}
#CTA-headline {color: #96C940;}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.cta-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #006837;
    color: #fff;

}
