body, html {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: #444444;
    line-height: 1.8;
    letter-spacing: .8px; overflow-x: hidden;
}


.h1, h1 {
    font-size: 2.5rem;
    font-weight: 900 !important;
    letter-spacing: normal;
}
.display-3 {
    font-weight: 900 !important;
    letter-spacing: normal;
}

/* header */
.navbar-toggler {
	border: none;
	box-shadow: none !important;
    color: #3c3c40;;
}


/* hero section */
.hero {
    background: url('assets/hero-bg.png') no-repeat center center/cover;
    height: 90vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}
.hero-content {z-index: 1;}
#CTA-headline {color: #96C940;}
.cta-btn {
    border-radius: 0%;
    padding: 1rem, 5rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: #004E29;
    color: #ffffff;
    &:hover {
        background-color: #006837;
    }
}


/* services section */
#services .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    overflow: hidden;
}
.service-item {
    transition: all 0.3s ease;
    margin: 0 10px;
    flex: 0 0 auto;
    width: 200px;
    text-align: center;
}
.service-item.active {
    transform: scale(1.2);
    z-index: 1;
    width: 240px;
    color: #006837;
    background-color: #96C940;
}
.img-container {
    height: 150px;
    overflow: hidden;
}
.service-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-item.active .img-container {
    height: 180px;
}
.service-name {
    font-size: 1rem;
    margin-top: 10px;
    padding-bottom: 2rem;
}
.service-item.active .service-name {
    font-size: 1.2rem;
    font-weight: bold;
}
.nav-arrow {
    font-size: 2rem;
    color: #004E29;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
        color: #006837;
    }
}
.service-info {
    background-color: #006837;
    color: white;
}
#service-headline {
    color: #96C940

}
.contact-btn {
    padding: 5px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #96C940;
    color: #ffffff;
    &:hover {
        background-color: #A6DB4C;
        color: white;
    }
}


/* pictures section */
.top-pic {
    background: url('assets/hero-bg.png') no-repeat center center/cover;
    height: 10vh;
}
.main-pic {
    position: relative;
    background: url('assets/toter-adv.jpg') no-repeat center center/cover;
    height: 60vh; 
    max-width: 100%;
    background-position: center top;
}


/* advantages section */
.fa-check-circle {
    color: #006837;
    font-size: larger;
}
.advantages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0; 
    list-style-type: none;
}
.advantages-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}



/* companies section */
.companies {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* footer */
.footer 
{
    background-color: #004E29;
    color: white;
    
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer ul {
    line-height: 2.5rem;
}
.footer p {
    line-height: 0.6rem;
}
.footer-contact a {
    color: #96C940;
}
#social-icons {font-size: 28px;}



/* services queries */
@media (max-width: 576px) {
    .hero {font-size: 1rem;}
}
@media (max-width: 768px) {
    .footer ul {
        line-height: 1.5rem;
    }
}
@media (min-width: 992px) {
    .adv-container {
        gap: 3rem;
    }
    
}
